/* main styles */
* {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    transition: all 0.3s ease-in-out;
}

body {
    background-color: #e7fcf3;
}

label,
input,
textarea,
button,
select {
    outline: 0;
    color: black;
}

input,
textarea,
select,
option {
    font-size: 14px;
}

input[type="date"],
input[type="datetime-local"],
input[type="radio"],
input[type="checkbox"],
select {
    cursor: pointer;
}

button {
    box-sizing: border-box;
    border: 2px solid #3498db;
    border-radius: 10px;
    background: none;
    padding: 0 60px;
    height: 40px;
    font-size: 18px;
    text-transform: uppercase;
    cursor: pointer;
    color: #fff;
    box-shadow: 0 0 40px 40px #3498db inset, 0 0 0 0 #3498db;
    -webkit-transition: all 150ms ease-in-out;
    transition: all 0.3s ease-in-out;
}

button:hover {
    outline: 0;
    background: #3498db;
    box-shadow: 0 0 10px 0 #3498db inset, 0 0 10px 4px #3498db;
}

button:active {
    border: 2px solid darkred;
    background: darkred;
    box-shadow: 0 0 10px 0 darkred inset, 0 0 10px 4px darkred;
}

legend {
    font-weight: bold;
}

fieldset {
    margin-bottom: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background: #fffbf4;
}

fieldset > .field:last-child {
    margin-bottom: 0;
}

/* containers */
.finalData {
    margin: 0 auto;
    width: 98%;
    max-width: 1500px;
    padding: 20px;
    display: flex;
    overflow: hidden;
    flex-wrap: wrap;
    justify-content: center;
    /*flex-direction: column;*/
    /*align-items: center;*/
}

.field {
    position: relative;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.label {
    width: 150px;
    margin-right: 20px;
}

.rowFlex {
    display: flex;
    justify-content: flex-start;
}

.rowFlex fieldset:first-child {
    margin-right: 20px;
}

.w-100 {
    width: 100%;
    display: flex;
    justify-content: center;
}

/* basic inputs */
.simpleInput {
    border: 1px solid black;
    min-width: 300px;
    padding: 0 10px;
    height: 40px;
    border-radius: 5px;
}

.simpleInput:focus {
    border: 1px solid #3498db;
}

.checkInput {
    height: 25px;
    width: 25px;
}

.textareaInput {
    border: 1px solid black;
    overflow: hidden;
    resize: none;
    line-height: 20px;
    min-width: 300px;
    padding: 10px;
    min-height: 40px;
    border-radius: 5px;
}

.textareaInput:focus {
    border: 1px solid #3498db;
}

.radioInput {
    height: 25px;
    width: 25px;
}

.selectInput {
    min-width: 322px;
    height: 42px;
}

/* specific styles*/
.radioFlex {
    margin-bottom: 20px;
}

.radioFlex h3 {
    margin-right: 20px;
    width: 150px;
}

.radioFlex .field {
    margin-right: 20px;
    margin-bottom: 0;
}

.radioFlex .label {
    margin-right: 0;
    width: initial;
}

.writableTarget {
    display: none;
}

.writableField .selectInput,
.writableTarget input {
    min-width: 280px;
    border-radius: 5px 0 0 5px;
}

.writableTarget input {
    min-width: 258px;
}

.changeSelectorType {
    padding: 0;
    border-radius: 0 5px 5px 0;
    border: 0;
    width: 42px;
    height: 42px;
}

.changeSelectorType:hover {
    box-shadow: 0 0 5px 0 #3498db inset, 0 0 5px 1px #3498db;
}

.changeSelectorType:active {
    box-shadow: 0 0 5px 0 darkred inset, 0 0 5px 1px darkred;
}
